<p style="color: green"><%= notice %></p>

<% content_for :title, "Job boards" %>

<h1>Job boards</h1>
<!-- Job Board -->
<section id="about" class="py-5">
  <div class="container">
      <h2 class="text-center mb-4 text-black">The Mama Tech Job Board</h2>
      <p class="p-text">
      <img src="<%= asset_path('coming_soon.jpg') %>" alt="Job Board Image" class="img-fluid h-50">
      </p>
  </div>
</section>
<div id="job_boards">
  <% @job_boards.each do |job_board| %>
    <%= render job_board %>
    <p>
      <%= link_to "Show this job board", job_board %>
    </p>
  <% end %>
</div>

<!-- <%= link_to "New job board", new_job_board_path %> -->
