<!-- Contact Form -->
<section id="contact" class="py-5">
    <div class="container">
        <div class=" offset-md-2">
            <div class="contact-info mb-4 text-center">
                <p>
                    <i class="bi bi-twitter"></i><a href="https://x.com/NaijeriaToweett" target="_blank" style="text-decoration: none;">@MamaTech</a>
                </p>
            </div>
            <%= form_with url: 'https://formspree.io/f/xldezajb', method: 'post', local: true do |f| %>
            <div class="form-group mb-3">
                <%= f.text_field :name, class: "form-control", placeholder: "Enter your name" %>
            </div>
            <div class="form-group mb-3">
                <%= f.email_field :email, class: "form-control", placeholder: "Enter your email" %>
            </div>
            <div class="form-group mb-3">
                <%= f.select :topic, options_for_select(["Joining Mama Tech", "Mentorship Inquiry", "I need Help with a Project", "Please share more information", "General Inquiry", "Seeking Partnership Opportunities"]), { prompt: "How can we help - Select a Topic" }, { class: "form-select" } %>
            </div>
            <div class="form-group mb-3">
                <%= f.text_area :message, class: "form-control", rows: 3, placeholder: "Your message" %>
            </div>
            <%= f.submit "Submit", class: "btn btn-danger" %>
        <% end %>        
        </div>
    </div>
</section>