<nav class="navbar navbar-expand-lg navbar-light bg-white fixed-top mb-0">
    <div class="container-fluid">
        <div class="">
            <a class="navbar-brand text-danger" href="#hero">
                <%= image_tag "mltlogo.png", alt: "Mama Tech Logo", class: "logo-class mx-5", style: "width: 17%; height: 17%;" %>
            </a>
        </div>
        <button type="button" class="navbar-toggler mx-5" data-bs-toggle="collapse" data-bs-target="#navbarCollapse">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarCollapse">
            <div class="navbar-nav ms-auto mb-2 mb-lg-2">
                <%= link_to "About Us", root_path(anchor: "about"), class: "nav-link me-5" %>
                <%= link_to "Services", root_path(anchor: "services"), class: "nav-link me-5" %>
                <%= link_to "Contact", root_path(anchor: "contact"), class: "nav-link me-5" %>
                <%= link_to "Job Board", job_boards_path, class: "nav-link me-5" %>
                <%= link_to "Portfolio", "#", class: "nav-link me-5" %>
            </div>
            <div class="ms-auto">
                <%= link_to "Join Us", root_path(anchor: "contact"), class: "btn btn-danger text-white me-5" %>
            </div>
        </div>
    </div>
</nav>