<!-- Hero -->
<header class="bg-black text-white text-center mt-4 pt-4 custom-header-height" style="position: relative; background-image: url(<%= asset_path('bg_header.png') %>); background-size: cover; background-position: center; background-repeat: no-repeat;">
    <!-- Dark Overlay -->
    <div class="overlay" style="position: absolute; top: 0; left: 0; width: 100%; height: 100%; background-color: rgba(0, 0, 0, 0.6); z-index: 1;"></div>
    
    <!-- Content -->
    <div class="container my-5 py-5" style="position: relative; z-index: 2;">
        <h1 class="display-4">Empowering Women Through Technology</h1>
        <p class="lead py-3">Building solutions for social impact, by women, for women</p>
        <a href="#contact" class="btn btn-danger btn-lg my-3">Get in Touch</a>
    </div>
</header>

<!-- About Us -->
<section id="about" class="py-5">
    <div class="container">
        <h2 class="text-center mb-4 text-black">About Mama Tech</h2>
        <p class="p-text text-justified">
            Mama Tech is a boutique, full-service development agency dedicated to creating technology solutions 
            for social good. We specialize in end-to-end tech development services, guiding projects from initial 
            concept to launch. <br> Our work is rooted in a commitment to driving social change and developing 
            technology-driven projects that create lasting positive impacts, particularly for women and 
            marginalized communities. By blending innovation with purpose, we aim to 
            empower communities and build a future defined by equity and inclusivity. <br>  
        </p>
        <div class="row justify-content-center">
            <!-- Card 1 -->
            <div class="col-md-6 p-4">
                <div class="card h-100">
                    <div class="card-body" style="color: #fff; background-color: #cd1a29; border-radius: 0.25rem;">
                        <h3 class="card-title text-center">Our Mission</h3>
                        <p class="card-text">
                            To mentor and empower the next generation of African women in tech by developing 
                            technology-driven projects that create lasting positive impact and delivering innovative, 
                            end-to-end solutions.
                        </p>
                    </div>
                </div>
            </div>
        
            <!-- Card 2 -->
            <div class="col-md-6 p-4">
                <div class="card h-100">
                    <div class="card-body" style="color: #fff; background-color: #cd1a29; border-radius: 0.25rem;">
                        <h3 class="card-title text-center">Our Vision</h3>
                        <p class="card-text">
                            To be a global leader in crafting transformative tech solutions that empower African women and marginalized communities, 
                            shaping a future defined by innovation, equity, and inclusivity.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <h2 class="text-center mb-4 text-black">Our Values</h2>
        <p class="p-text text-justified">
            <strong style="color: #cd1a29;">Empowerment:</strong> 
            Providing access to knowledge, mentorship, and tools, enabling women 
            to transition and thrive in the tech industry.
        </p>
        <p class="p-text text-justified">
            <strong style="color: #cd1a29;">Innovation:</strong> 
            Continuously exploring new technologies, leveraging 
            open-source solutions, and employing methods that drive progress and positive change.
        </p>
        <p class="p-text text-justified">
            <strong style="color: #cd1a29;">Impact:</strong> 
            Delivering sustainable, open-source-powered solutions that make a 
            real difference in the lives of the communities we serve.
        </p>
    </div>    
    </div>
</section>

<!-- Services -->
<section id="services" class="row py-5" style="background-color: #e5e7eb;">
    <div class="col-12 text-center">
        <h2 class="text-black">Our Services</h2>
    </div>
    <div class="col-md-6 p-4 d-flex">
        <div class="card text-center">
            <div class="card-body p-5">
                <h5 class="card-title">Full Circle Development</h5>
                <i class="bi bi-arrow-repeat"></i>
                <p class="p-text card-text">
                    We provide end-to-end tech development services, 
                    from initial concept through to launch, 
                    with a focus on creating solutions that drive social change.
                </p>
                <a href="#contact" class="btn btn-dark btn-lg my-3">Read more</a>
            </div>
        </div>
    </div>
    <div class="col-md-6 p-4 d-flex">
        <div class="card text-center">
            <div class="card-body p-5 text-white bg-dark rounded">
                <h5 class="card-title">Mentorship for Women</h5>
                <i class="bi bi-person-lines-fill text-white"></i>
                <p class="card-text">
                    We guide women transitioning into tech careers, offering 
                    mentorship to help them navigate their professional growth in the industry.
                </p>
                <a href="#contact" class="btn btn-danger btn-lg my-3">Read more</a>
            </div>
        </div>
    </div>
    <div class="col-md-6 p-4 d-flex">
</div>

</section>

<!-- Showcase -->
<!-- <section id="showcase" class="py-5 ">
    <div class="container">
        <h2 class="text-center mb-4 text-black">Our Work</h2>
        <div id="workCarousel" class="carousel slide" data-bs-ride="carousel">
            <div class="carousel-inner">

                <!-- Carousel Item 1 -->
                <!-- <div class="carousel-item active">
                    <a href="https://example.com/project1" target="_blank">
                        <img src="<%= asset_path('elearning-platform-svg.webp') %>" class="d-block w-100 img-contain" alt="E-Learning Platform">
                    </a>
                    <div class="carousel-caption d-none d-md-block">
                        <h5>Project 1</h5>
                        <p>Description of Project 1.</p>
                    </div>
                </div> -->

                <!-- Carousel Item 2 -->
                <!-- <div class="carousel-item">
                    <a href="https://example.com/project2" target="_blank">
                        <img src="<%= asset_path('healthtech-mobile-app-svg.webp') %>" class="d-block w-100 img-contain" alt="Health Mobile App">
                    </a>
                    <div class="carousel-caption d-none d-md-block">
                        <h5>Project 2</h5>
                        <p>Description of Project 2.</p>
                    </div>
                </div> -->

                <!-- Carousel Item 3 -->
                <!-- <div class="carousel-item">
                    <a href="https://example.com/project3" target="_blank">
                        <img src="<%= asset_path('gender-equality-website-svg.webp') %>" class="d-block w-100 img-contain" alt="Gender Equality Website">
                    </a>
                    <div class="carousel-caption d-none d-md-block">
                        <h5>Project 3</h5>
                        <p>Description of Project 3.</p>
                    </div>
                </div> -->

                <!-- Add more carousel items as needed -->

            <!-- </div> -->

            <!-- Carousel controls -->
            <!-- Previous button -->
            <!-- <button class="carousel-control-prev custom-carousel-control-prev" type="button" data-bs-target="#workCarousel" data-bs-slide="prev">
                <span class="carousel-control-prev-icon rounded" aria-hidden="true"></span>
                <span class="visually-hidden">Previous</span>
            </button> -->

            <!-- Next button -->
            <!-- <button class="carousel-control-next custom-carousel-control-next" type="button" data-bs-target="#workCarousel" data-bs-slide="next">
                <span class="carousel-control-next-icon rounded" aria-hidden="true"></span>
                <span class="visually-hidden">Next</span>
            </button> -->
        <!-- </div> -->
    <!-- </div> -->
<!-- </section> -->


<!-- Testimonials -->
<!-- <section id="testimonials" class="row bg-light py-5">
    <div class="col-12 text-center">
        <h2 class="text-black">Testimonials</h2>
    </div>
    <div class="col-md-4">
        <div class="card">
            <div class="card-body">
                <blockquote class="blockquote mb-0">
                    <p>Mama Tech helped us build a product that transformed our approach to women's health.</p>
                    <footer class="blockquote-footer">Client Name</footer>
                </blockquote>
            </div>
        </div>
    </div>
    <div class="col-md-4">
        <div class="card">
            <div class="card-body">
                <blockquote class="blockquote mb-0">
                    <p>The mentorship program at Mama Tech was invaluable in helping me transition into tech.</p>
                    <footer class="blockquote-footer">Client Name</footer>
                </blockquote>
            </div>
        </div>
    </div>
    <div class="col-md-4">
        <div class="card">
            <div class="card-body">
                <blockquote class="blockquote mb-0">
                    <p>The mentorship program at Mama Tech was invaluable in helping me transition into tech.</p>
                    <footer class="blockquote-footer">Client Name</footer>
                </blockquote>
            </div>
        </div>
    </div>
</section> -->
<section id="contact" class="row py-5">
    <div class="col-12 text-center">
        <h2 class="text-black">Contact Form</h2>
    </div>
    <%= render "contact_form/new" %>
</section>